<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        <div class="container">
        {{> nav}}
        
        {{> user_manager}}

        {{> footer}}
        </div>
        {{> scripts}}
        <script src="/js/user_manager.js"></script>
    </body>
</html>