<div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbody"></tbody> <!-- Dynamically populated -->
</table>
</div>
<div class="container">
  <br /><div class="alert alert-danger hidden" role="alert" id="errMsg"></div>
</div>