<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th></th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.userName}}</td>
                <td>{{user.emailAddress}}</td>
                <td>
                    <button type="button" class="btn btn-info btn-sm btn-edit" value="{{user.userId}}">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm btn-delete" value="{{user.userId}}">Delete</button>
                </td>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
        <!-- Dynamically populated -->
    </table>
</div>
<div class="container">
    <br />
    <div class="alert alert-danger hidden" role="alert" id="errMsg"></div>
</div>